<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <title>Choose Town</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/skel.min.js' %}"></script>
	<script src="{% static 'js/skel-panels.min.js' %}"></script>
	<script src="{% static 'js/init.js' %}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'csspage2/bootstrap.min.css' %}" rel="stylesheet">
	<link href = "{% static 'css/style.css' %}" rel="stylesheet">
	
    <!-- Custom CSS -->
    <link href="{% static 'csspage2/1-col-portfolio.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class = "homepage">

	<div id="header">
			<div id="logo-wrapper">
				<div style="container">
						
					<!-- Logo -->
						<div id="logo">
							<p><a href="#">Let's Eat!</a></p>
						</div>
					
				</div>
			</div>
	</div>
	
	<div id="banner1">
			<img src = "{% static 'images/pizza-stock.jpg' %}" id = "pizza"/>
			<input type = "text" name = "search" placeholder = "Search" id = "search">
			<br><br><br><br><br>
	</div>
		
    <!-- Page Content -->
    <div class="container">
		<div class = "main">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">What would you like to eat today?
                </h1>
            </div>
        </div>
		</div>
		</div>
        <!-- /.row -->
		{% if food_list %}
		<div class = "row">
        <!-- Project One -->
		{% for f in town_list %}
        <div class="row">
            <div class="col-md-7">
                    <a href = "#"><img class="img-responsive" src= "{{f.picture.url}}" alt=""></a>
            </div>
            <div class="col-md-5">
                <h3>{{f.name}}</h3><br>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        {% endfor %}
		</div>
		{% endif %}
    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
