<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <title>Restaurant</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'csspage2/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel = "stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'csspage2/portfolio-item.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div id="header">
			<div id="logo-wrapper">
				<div style="container">
						
					<!-- Logo -->
						<div id="logo">
							<p><a href="#">Let's Eat!</a></p>
						</div>
					
				</div>
			</div>
	</div>
    <!-- Navigation -->
    

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{restaurant.name}}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{restaurant.picture}}" alt="">
            </div>

            <div class="col-md-4">
				<h3>Restaurant Type : {{restaurant.restaurant_type}}</h3>
                <h3>Phone : {{restaurant.phone}}</h3>
                <h3>Address: {{restaurant.address}}</h3>
                <h3>Cost for two: {{restaurant.cost}}</h3>
                
            </div>

        </div>
        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
